<nav class="nav">
  <div class="container header">
    <div class="logo">
      <img src="assets/icons/logo.png" alt="">
      <h1>Just Dota</h1>
      </div>
    <div class="navigation">
      <ul class="ul">
        <li [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/" >Главная</li>
        <li routerLinkActive="active" routerLink="/news">Новости</li>
        <li routerLinkActive="active" routerLink="/tournaments">Турниры</li>
        <li routerLinkActive="active" routerLink="/players">Игроки</li>
        <li routerLinkActive="active" routerLink="/heroes">Герои</li>
        <li routerLinkActive="active" routerLink="/guides">Гайды</li>
        <li routerLinkActive="active" routerLink="/ti">Ti</li>
      </ul>
    </div>
  </div>
</nav>
